<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
    .button{
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    </style>
  </head>
  <body>
<center>
    <h1 align="center" style="text-align: center">MyApp</h1>      

  <div class="container-fluid">
    <div class="h-100 row align-items-center">
        <div class="col"><a href="display" class="button" style="padding: 21%">Display Records</a></div>       
        <div class="col"><a href="delete" class="button" style="padding: 21%">Delete Record</a></div>       
        <div class="col"><a href="fetch" class="button" style="padding: 21%">Fetch New Records</a></div>       
    </div>
</div>
</center>

    <!-- <div class="btn-group btn-group-justified">
        <a href="display" class="btn btn-primary" style="width: 33%"><h1>Display</h1></a>
        <a href="delete" class="btn btn-primary" style="width: 33%"><h1>Delete</h1></a>
        <a href="fetch" class="btn btn-primary" style="width: 33%"><h1>Fetch New Records</h1></a>
      </div>  -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>